# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/

# Misc
.DS_Store
*.pem
.env
.env.*
!.env.example
.env.local
*.key
*.crt

# Generated or auxiliary docs
documentacion/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
